In [1]:
import pandas as pd
file_to_load = "Resources/purchase_data.csv"

In [2]:
purchase_data = pd.read_csv(file_to_load)

In [3]:
#refined purchase data index
index_purchase_data = purchase_data.set_index('Purchase ID')

In [4]:
#player count
#found unique player amount
player_count = index_purchase_data['SN'].value_counts()
amount = len(player_count)

#created player count dataframe to show results
player_count_df = pd.DataFrame({"Total_Players":amount},index=[0])
player_count_df

   Total_Players
0            576

In [5]:
#purchasing analysis (total)
#unique item total
unique_item_name = index_purchase_data['Item Name'].value_counts()
amount_item = len(unique_item_name)

#average price
average_price = index_purchase_data['Price'].mean()

#number of purchases
number_of_purchases = index_purchase_data['Item Name'].count()

#sum of revenue
sum_of_revenue = index_purchase_data['Price'].sum()

#making dataframe
purchasing_analysis_total_df = pd.DataFrame({"Number_of_Unique_Items":amount_item,
                                            "Average_Price":average_price,
                                             "Number_of_Purchases":number_of_purchases,
                                             "Total_Revenue":sum_of_revenue}, index=[0])

#formatting of columns for average_price and total_revenue
purchasing_analysis_total_df["Average_Price"] = purchasing_analysis_total_df["Average_Price"].map("${:.2f}".format)
purchasing_analysis_total_df["Total_Revenue"] = purchasing_analysis_total_df["Total_Revenue"].map("${:,.2f}".format)
purchasing_analysis_total_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
#gender demographics
#want to check for unique values to ensure no misspellings, etc.
unique = index_purchase_data['Gender'].unique()
unique

#collected list of gender and unique values of each gender
gender_count = index_purchase_data['Gender'].value_counts()
gender_count.head()

#so what I figured out here is that some of the same people are buying so that's why there are more male than players altogether
#therefore I need to narrow by unique users and then from there gather gender data
user = index_purchase_data.groupby('Gender')['SN'].unique()
gender_values = []

for i in range(len(user)):
    value = len(user[i])
    gender_values.append(value)

#making dataframe
gender_demographic_df = pd.DataFrame(gender_values, columns = ['Total_Count'], index = ['Female', 'Male', 'Other / Non-Disclosed'])
gender_demographic_df["Percentage_of_Players"] = gender_demographic_df["Total_Count"] / amount * 100

#formatting final column
gender_demographic_df = gender_demographic_df.sort_values(by = ['Total_Count'], ascending = False)
gender_demographic_df["Percentage_of_Players"] = gender_demographic_df["Percentage_of_Players"].map("{:.2f}%".format)
gender_demographic_df

                       Total_Count Percentage_of_Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
#purchasing analysis by gender
purchase_count_gender = index_purchase_data.groupby('Gender')['Item Name'].count()

average_purchase_price_gender = index_purchase_data.groupby('Gender')['Price'].mean()

total_purchase_value_gender = index_purchase_data.groupby('Gender')['Price'].sum()

#making dataframe
gender_purchasing_analysis_df = pd.DataFrame({'Purchase_Count': purchase_count_gender,
                                            'Average_Purchase_Price': average_purchase_price_gender, 
                                            'Total_Purchase_Value': total_purchase_value_gender})

gender_purchasing_analysis_df['Average_Total_Purchase_Per_Person'] = gender_purchasing_analysis_df['Total_Purchase_Value'] / gender_values

#formatting of columns
gender_purchasing_analysis_df['Average_Purchase_Price'] = gender_purchasing_analysis_df['Average_Purchase_Price'].map("${:.2f}".format)
gender_purchasing_analysis_df['Total_Purchase_Value'] = gender_purchasing_analysis_df['Total_Purchase_Value'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Average_Total_Purchase_Per_Person'] = gender_purchasing_analysis_df['Average_Total_Purchase_Per_Person'].map("${:.2f}".format)

gender_purchasing_analysis_df

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Average_Total_Purchase_Per_Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
#age demographics
bins = [0,9.9,14,19,24,29.9,34.9,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
index_purchase_data["Age Demographic"] = pd.cut(index_purchase_data["Age"], bins, labels=group_names, include_lowest=True)

#so from this, I have a similar problem as before, there are some people who purchased more than one game
#therefore, I did have to make a unique list again, and use the length of each of the inner lists within it
total_counts_age = index_purchase_data.groupby('Age Demographic')['SN'].unique()

total_count_age = []
for i in range(len(total_counts_age)):
    age = len(total_counts_age[i])
    total_count_age.append(age)

#making dataframe
age_demographic_df = pd.DataFrame({'Total_Count': total_count_age}, index = group_names)
age_demographic_df['Percentage_of_Players'] = age_demographic_df['Total_Count'] / amount * 100

#format column
age_demographic_df['Percentage_of_Players'] = age_demographic_df['Percentage_of_Players'].map("{:.2f}%".format)
age_demographic_df

       Total_Count Percentage_of_Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [9]:
#purchasing analysis by age
#identical procedure to the above gender analysis, except grouping is different
purchase_count_age = index_purchase_data.groupby('Age Demographic')['Item Name'].count()

average_purchase_price_age = index_purchase_data.groupby('Age Demographic')['Price'].mean()

total_purchase_value_age = index_purchase_data.groupby('Age Demographic')['Price'].sum()

#making dataframe
age_purchasing_analysis_df = pd.DataFrame({'Purchase_Count': purchase_count_age,
                                           'Average_Purchase_Price': average_purchase_price_age,
                                           'Total_Purchase_Value': total_purchase_value_age})

age_purchasing_analysis_df['Average_Total_Purchase_Per_Person'] = age_purchasing_analysis_df['Total_Purchase_Value'] / total_count_age

#formatting of columns
age_purchasing_analysis_df['Average_Purchase_Price'] = age_purchasing_analysis_df['Average_Purchase_Price'].map("${:.2f}".format)
age_purchasing_analysis_df['Total_Purchase_Value'] = age_purchasing_analysis_df['Total_Purchase_Value'].map("${:,.2f}".format)
age_purchasing_analysis_df['Average_Total_Purchase_Per_Person'] = age_purchasing_analysis_df['Average_Total_Purchase_Per_Person'].map("${:.2f}".format)

age_purchasing_analysis_df

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Average_Total_Purchase_Per_Person
Age Demographic,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
#top spenders
grouped_top = index_purchase_data.groupby('SN')

grouped_top_sum = grouped_top['Price'].sum()
grouped_top_SN = grouped_top['SN'].unique()
grouped_top_count = grouped_top['SN'].value_counts()
grouped_top_ave = grouped_top['Price'].mean()

#making dataframe
list_of_tuples = list(zip(grouped_top_SN, grouped_top_count, grouped_top_ave, grouped_top_sum))
top_spenders_df = pd.DataFrame(list_of_tuples,columns = ['SN','Purchase_Count','Average_Purchase_Value','Total_Purchase_Value'])

#formatting columns
top_spenders_df['SN'] = top_spenders_df['SN'].str[0]
top_spenders_df = top_spenders_df.set_index('SN')

top_spenders_df = top_spenders_df.sort_values(by = ['Total_Purchase_Value'], ascending = False)
top_spenders_df['Total_Purchase_Value'] = top_spenders_df['Total_Purchase_Value'].map("${:.2f}".format)
top_spenders_df['Average_Purchase_Value'] = top_spenders_df['Average_Purchase_Value'].map("${:.2f}".format)

top_spenders_df.head()

             Purchase_Count Average_Purchase_Value Total_Purchase_Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [11]:
#set up for last two steps (for most popular and most profitable)
list_of_items_and_prices = index_purchase_data[['Item ID', 'Item Name', 'Price']]

grouped = list_of_items_and_prices.groupby(['Item ID','Item Name'])
grouped_id = grouped['Item ID'].unique()
grouped_name = grouped['Item Name'].unique()
grouped_sum = grouped['Price'].sum()
grouped_count = grouped['Item Name'].value_counts()
grouped_ave = grouped['Price'].mean()

#making general dataframe
list_of_tuples = list(zip(grouped_id, grouped_name, grouped_count, grouped_ave, grouped_sum)) 
df = pd.DataFrame(list_of_tuples,columns = ['Item_ID','Item_Name','Purchase_Count','Item_Price','Total_Purchase_Value'])

#setting data types for making them the indexes of the following datasets
df['Item_ID'] = df['Item_ID'].str[0]
df['Item_Name'] = df['Item_Name'].str[0]
df = df.set_index(['Item_ID','Item_Name'])

#reformatting of column(s), changes some values as strings, so needed to wait to reform following sorting
df['Item_Price'] = df['Item_Price'].map("${:.2f}".format)

In [12]:
#most popular
most_popular_df = df.sort_values(by = ['Purchase_Count'], ascending = False)
most_popular_df['Total_Purchase_Value'] = most_popular_df['Total_Purchase_Value'].map("${:.2f}".format)
most_popular_df.head()

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item_ID,Item_Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [13]:
#most profitable
most_profitable_df = df.sort_values(by = ['Total_Purchase_Value'], ascending = False)
most_profitable_df['Total_Purchase_Value'] = most_profitable_df['Total_Purchase_Value'].map("${:.2f}".format)
most_profitable_df.head()

,,Purchase_Count,Item_Price,Total_Purchase_Value
Item_ID,Item_Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [14]:
#write file with observations from data
observ_1 = '1. The 20-24 age bracket is a major group to target for marketing purposes. As shown from the above dataframes, specifically the age_purchasing_analysis_df, this group had the most purchases and greatest total purchase value. A following analysis can be performed to assess the genres of games that should be particularly advertised/are successful based on this age bracket.'
observ_2 = '2. Males, as indicated from the gender_purchasing_analysis_df, have made the most purchases in comparison to females and other/non-disclosed individuals, however females and other/non-disclosed individuals had the higher average in purchase price and average total purchase value per person than males. This could be on account of the lack of games targeted towards these specific groups. From this, what can be considered is an evaluation of age group and gender demographics to assess what specific groups are spending the most, and whether to consider a shift in focus in advertisement and/or genres.'
observ_3 = '3. "Final Critic" was both the most profitable and popular game which is seen in the most_popular_df and most_profitable_df. Despite, its high price in comparison to other popular games, its audience seemed to not be disuaded from purchasing it, hence it may be advisable to analyze its data specifically for trends in regard to why it was so successful. (For example, was it the marketing approach, the genre, the story, the length of gameplay, etc.)'
observs = [observ_1, observ_2, observ_3]

tuples_list = list(zip(observs)) 
observations = pd.DataFrame(tuples_list, columns = ['Observations'])

observations.to_csv('Trend_Observations/Trend_Observations.csv', index = False, header = True)