In [42]:
import pandas as pd
file_to_load = "purchase_data.csv"

In [96]:
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [53]:
#refined purchase data index
index_purchase_data = purchase_data.set_index("Purchase ID")
index_purchase_data.head()

#found unique player amount
player_count = index_purchase_data["SN"].value_counts()
amount = len(player_count)

#created player count dataframe to show results
player_count_df=pd.DataFrame({"Player_Count":amount},index=[0])
player_count_df

   Player_Count
0           576

In [78]:
#unique item total
unique_item_name = index_purchase_data["Item Name"].value_counts()
amount_item = len(unique_item_name)

#average price
average_price = index_purchase_data["Price"].mean()

#number of purchases
number_of_purchases = index_purchase_data["Item Name"].count()

#sum of revenue
sum_of_revenue = index_purchase_data["Price"].sum()

purchasing_analysis_total_df = pd.DataFrame({"Number_of_Unique_Items":amount_item,
                                            "Average_Price":average_price,
                                             "Number_of_Purchases":number_of_purchases,
                                             "Total_Revenue":sum_of_revenue}, index=[0])

#formatting of columns for average_price and total_revenue
purchasing_analysis_total_df["Average_Price"] = purchasing_analysis_total_df["Average_Price"].map("${:.2f}".format)
purchasing_analysis_total_df["Total_Revenue"] = purchasing_analysis_total_df["Total_Revenue"].map("${:.2f}".format)
purchasing_analysis_total_df

   Number_of_Unique_Items Average_Price  Number_of_Purchases Total_Revenue
0                     179         $3.05                  780      $2379.77

In [100]:
#gender demographics
#want to check for unique values to ensure no misspellings, etc.
unique = index_purchase_data["Gender"].unique()
unique

#collected list of gender and unique values of each gender
gender_df = index_purchase_data["Gender"].value_counts()
gender_df

gender_groupby_df = index_purchase_data.groupby("Gender")
gender_groupby_df